*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    font-size: 40px;
}

.container{
    display: grid;
    height: 800px;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
}

.Box{
    background-color: rgb(95,95,226);  
}

.First{
    grid-row: 1/4;
}

.Second{
    grid-column: 2/4;
}


.Sexth{
  grid-row:  2/4;
  grid-column: 4/5;

}

