#container{
    background-color: red;
    height: 280px;
    width: 460px;
    position: relative;
}

#circle{
    background-color: darkblue;
    height:140px;
    width: 460px;
    
    position: absolute;
    left: 0px;
    top:70px;

    
}
#circel{
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
}
    








