/* h1{
    background-color: aqua;
} */

#firstId{
    background-color: pink;
   
}

/* #firstId{
    background-color: green;
} */


/* h2{
    background-color: aquamarine;
} */


    /*
.classA{
    background-color: green;
}

li{
    background-color: limegreen;
} */

/* h1{
    background-color: pink;
} */