*{
    height: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container{
    padding: 20px;
    position: relative;
}

.box{
    height: 100px;
    width: 200px;
    background-color: red;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    animation-timing-function: linear;
    /* animation-direction: alternate; */
    animation-delay: 2s;
    /* animation-fill-mode: forwards; */
    position: absolute;

}

@keyframes moving{
    0%{
        background-color: orange;
        top:10px;
        left:10px;
    }
    25%{
        background-color: blue;
        top: 10px;
        left: 1800px;
    }
      50%{
        background-color: green;
        top: 500px;
        left: 1800px;
    }
      75%{
        background-color: blue;
        top: 500px;
        left: 10px;
    }
    100%{
        background-color: blue;
        top: 10px;
        left: 10px;
    }
} 