
.container{
    background-color: aliceblue;
    display: flex;
    height: 600px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    gap: 10px;
}
/* justify content : main axis ke around kaam karta h 
   main axis decide kon karega aapka flex direction*/

   /* align axis work around cross axis  */

.box{
    height: 100px;
    width: 100px;
    /* margin: 5px;; */

}

.first{
    background-color: lemonchiffon;
    /* flex-basis: 200px; */
    /* flex-grow: 1; */
}

.second{
    background-color: green;
    flex-shrink: 4;
    /* flex-basis: 300px; */
     /* flex-grow: 2; */
}

.third{
    background-color: red;
    align-self: flex-start;
     /* flex-grow: 3; */
}

.fourth{
    background-color: chartreuse;
}