h1{
    background-color:chocolate;
    height: 200px;
    width: 200px;

    margin: 10px;   

    /* border-width: 15px;
    border-style: solid;
    border-color: green; */

    /* border: 10px solid green;
    padding: 10px;
    margin: 30px;    */

    border: 10px solid black;
    /* padding: 10px 20px 30px 40px; */
    padding: 20px 40px;
    margin: 50px 20px 30px 40px;

    border-radius: 50px;
}

h2{
    background-color: cadetblue;
    border: 2px solid blue;
}

p{
    background-color: aquamarine;
    padding: 20px;
    border: 5px solid blue;
    margin:35px;
}     