*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.container{
    display: flex;
}

.Box{
    height: 200px;
    width: 200px;
}

.first{
    background-color: orange;
}

.second{
   display: flex;
   flex-direction: column;
   gap: 20px;
   background-color: purple;
}

.child{
    height: 140px;
    background-color: red;
}